body {
    margin: 0;
    background-color: #FFF;
    font-family: "Fira Sans", Arial, sans-serif;
}

a {
    text-decoration: none; 
    color: inherit;
    padding: 5px 10px;
}

p {
  margin: unset;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}


ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.ajustar-no-container {
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

.cor-de-fonte-de-subtitulo {
    color: #4e4b4b;
}

.uppercase {
  text-transform: uppercase;
}

.white {
  color: #FFF;
}

