main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    align-items: center;
    padding: 40px 10px
}

.titulo-profissional {
    font-weight: bold;
    font-size: 4.5rem;
    letter-spacing: 0;
    line-height: 1.15;
    margin: 0 0 30px 0;
}

.subtitulo {
    font-size: 1.5rem;
}

.profile-img {
    max-width: 100%;
}

.bloco-inf-iniciais {
  position: relative;
}

.bloco-inf-iniciais::before {
  content: "";
  display: block;
  width: 130px;
  height: 110px;
  background: url(/images/detalhe.svg) no-repeat center;
  z-index: -1;
  position: absolute;
  left: -40px;
  top: -16px;
}


@media(max-width: 800px) {
    main {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    .titulo-profissional {
        font-size: 2.0rem;
    }

    .bloco-inf-iniciais::before {
        width: 32px;
        height: 11px;
        top: -14px;
        left: 0px;
      }
}

@media(max-width: 400px) {
    .profile-img {
        display: none;
    }

    main {
        gap: 40px;
        grid-template-columns: 1fr;
    }
}