body {
    margin: 0;
    background-color: #FFF;
    font-family: 'Fira Sans', sans-serif
}

a {
    text-decoration: none; 
    color: inherit;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1160px;
}


.header {
    margin-top: 2.5rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-between;
}

.nav-bar {
    display: flex;
    gap: 2.5rem;
}

.header-item {
    list-style: none;
}

.profile-img {
    max-width: 360px;
    max-height: 520px;
    border-radius: 50%;
}

.titulo-profissional {
    font-weight: bold;
    font-size: 4.5rem;
    align-self: self-start;
    letter-spacing: 0;
    
}